.centr {
  margin-top:6%;
  margin-left: 7%;
  margin-right: 7%;
}
.pic{
  margin-top:4%;
  margin-left: 45%;
  margin-right: 30%;
}
.txt{
  margin: 2%;
  text-align: center;
}
.side-bg{
 z-index: 1;
 position: relative;
}
.sidenav---_u0En{
  background: black
}
.modal{
  width: 100%;
  height:100%;
 
}
.status{
 margin-right:40%;
  width: 30%;
  height:30%;
  position: relative;
}
.truee{
  
 z-index:1;
  width: 30%;
  height:30%;
  position: relative;
  clip: rect(100px,60px,200px,0px);
}
.falsee{
  transform: rotate(16deg);
    
 z-index:1;
 width: 20%;
 height:20%;
 position: relative;
 clip: rect(100px,60px,200px,0px);
}
.result{


  text-align:center;
  vertical-align:middle;
}
.footer {
 margin-top: 80px;
  /* left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  
}
.news{
  margin:6%;
  padding: 3%;
}


.news1{
margin: 3%;
    


 position: relative;
 
}